#login {
	width: 100%;
	padding-top: 40px;
}

.login-box {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: 0 auto;
	border: 1px solid black;
	padding: 20px 0;
}

.login-form-input-box {
	width: 200px;
	margin: 20px auto;
}

.login-form-select {
	width: 100px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 20px auto;
}

.login-form-select span {
	cursor: pointer;
	transition: all 0.3s;
	opacity: 0.6
}
.login-form-select-this span{
	color: #1890ff;
}
.login-form-select span:hover {
	color: #1890ff;
}

.login-form-message {
	width: 200px;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 0px auto 25px auto;
}

.login-form-message span {
	color: #ff4d4f;
}

.login-form-button {
	width: 200px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.form-content-button-box-request {
	color: #1890ff !important;
	background-color: #1890ff !important;
}
.form-content-circle {
	width: 20px;
	height: 20px;
	/*display: none;*/
	border-radius: 100%;
	border: 2px solid white;
	border-top-color: #1890ff;
	position: absolute;
	margin-top: 8px;
	/*transition: all 0.3s;*/
	animation: circle 0.7s linear infinite;
}

.login-form-button button {
	/*display: inline-block;*/
	width: 80px;
	height: 40px;
	border-radius: 3px;
	text-indent: 4px;
	color: rgba(0,0,0,0.65);
	letter-spacing: 4px;
	transition: all 0.3s;
	border: 1px solid #1890ff;
	background-color: white;
}

.login-form-button button:hover {
	cursor: pointer;
	color: white;
	background-color: #1890ff;
}